<!DOCTYPE html>
<html>
    <head>
        <style>
            img{
                width: 200px;
            }
        </style>
    </head>
        <title>CP-VTON-HD</title>
        <body>
            <div class="item">
                <img src="{{ url_for('static', filename='image/00891_00.jpg') }}"/>
                <img src="{{ url_for('static', filename='image/03615_00.jpg') }}"/>
                <img src="{{ url_for('static', filename='image/07445_00.jpg') }}"/>
                <img src="{{ url_for('static', filename='image/07573_00.jpg') }}"/>
                <img src="{{ url_for('static', filename='image/08909_00.jpg') }}"/>
                <img src="{{ url_for('static', filename='image/10549_00.jpg') }}"/>
                <form action = "{{url_for('cp_vton')}}" method="POST"
                enctype="multipart/form-data">
                <input type = "file" name = "file" />
                <input type = "submit"/>
            </div>
        </form>
        </body>
</html>